* {
    margin: 0;
    box-sizing: border-box;
}




#logo { text-align: center; font-size:x-large; font-family: sans-serif;}

.navbar { 
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.navbar a{ 

    color: rgb(1, 1, 1);
    text-decoration: none; }

    .navbar div {display: flex; column-gap: 30px;}

    /* .herosection{ height: 40vh;
    background-color: rgb(166, 134, 39);
display: flex;
justify-content: center;
align-items: center;} */

.content {;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 90px;
padding: 20px;
 }

.content img { width: 100%;}

.content div { position: relative;}

.content p { 
    background-color: rgb(105, 97, 112); transform: translate(0, -50%); 
    position: absolute; top: 100%; width: 100%; text-align:center; padding: 20px; ;
}


 @media  (width < 800px) {.content{grid-template-columns: 1fr;}}
